<section data-ng-controller="JobtypesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Jobtype</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="jobtype.name" id="name" class="form-control"
                        placeholder="Name" required>
                    </div>
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="jobtype.address" id="address" class="form-control"
                        placeholder="Address" required>
                    </div>
                    <label class="control-label" for="queryPattern">Query Pattern</label>
                    <div class="controls">
                        <input type="text" data-ng-model="jobtype.queryPattern" id="queryPattern" class="form-control"
                        placeholder="Query Pattern" required>
                    </div>
                    <label class="control-label">Fields</label>
                    <div class="list-group">
                        <div class="list-group-item" data-ng-repeat="field in jobtype.fields track by $index">
                            <div class="list-group-item-text">
                                <p>Name:
                                    <span data-ng-bind="field.name"></span>
                                    <br/>Description:
                                    <span data-ng-bind="field.description"></span>
                                    <br/>Type:
                                    <span data-ng-bind="field.type"></span>
                                </p>
                                <a class="btn btn-primary" data-ng-click="removeFromFields()">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <label class="control-label">Graphs</label>
                    <div class="list-group">
                        <div class="list-group-item" data-ng-repeat="graph in jobtype.graphs track by $index">
                            <div class="list-group-item-text">
                                <p>Name:
                                    <span data-ng-bind="graph.name"></span>
                                    <br/>Description:
                                    <span data-ng-bind="graph.script"></span>
                                </p>
                                <a class="btn btn-primary" data-ng-click="removeFromGraphs()">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <label class="control-label" for="addFieldtype">Fieldtype</label>
                    <div class="controls">
                        <div class="list-group">
                            <div class="list-group-item">
                                <select name="addFieldtype" id="addFieldtype" data-ng-model="myFieldtype"
                                data-ng-options="fieldtype.name for fieldtype in fieldtypes" required></select>
                                <p>Description:
                                    <span data-ng-bind="myFieldtype.description"></span>
                                </p>
                                <p>Type:
                                    <span data-ng-bind="myFieldtype.type"></span>
                                </p>
                                <a class="btn btn-primary" data-ng-click="addToFields()" data-ng-show="myFieldtype">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <label class="control-label" for="addGraphtype">Graphtype</label>
                    <div class="controls">
                        <div class="list-group">
                            <div class="list-group-item">
                                <select name="addGraphtype" id="addGraphtype" data-ng-model="myGraphtype"
                                data-ng-options="graphtype.name for graphtype in graphtypes" required></select>
                                <p>Script:
                                    <span data-ng-bind="myGraphtype.script"></span>
                                </p>
                                <a class="btn btn-primary" data-ng-click="addToGraphs()" data-ng-show="myGraphtype">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>