<section data-ng-controller="QueriesController" data-ng-init="init()">
    <div class="page-header">
        <h1>New Query</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="selectJobtype">Jobtype</label>
                    <div class="controls">
                        <div class="list-group">
                            <div class="list-group-item">
                                <select name="selectJobtype" id="selectJobtype" data-ng-model="myJobtype" data-ng-change="jobChange()" data-ng-options="jobtype.name for jobtype in jobtypes" required></select>
                                <p>Address:
                                    <span data-ng-bind="myJobtype.address"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <label data-ng-show="myJobtype" class="control-label" for="fields">Fields</label>
                    <div data-ng-show="myJobtype" class="controls">
                        <div class="list-group">
                            <div class="list-group-item" data-ng-repeat="field in myJobtype.fields">
                                <label for="field{{field.name}}" data-ng-bind="field.name"></label>
                                <input data-ng-if="field.type === 'String'" type="text" id="field{{field.name}}" name="field{{field.name}}" data-ng-model="query.fields[$index]" required/>
                                <input data-ng-if="field.type === 'Integer'" type="number" id="field{{field.name}}" name="field{{field.name}}" data-ng-model="query.fields[$index]" required/>
                                <input data-ng-if="field.type === 'Date'" type="date" id="field{{field.name}}" name="field{{field.name}}" data-ng-model="query.fields[$index]" required/>
                                <input data-ng-if="field.type === 'Boolean'" type="checkbox" id="field{{field.name}}" name="field{{field.name}}" data-ng-model="query.fields[$index]" required/>
                                <p class="list-group-item-text">Description: <span data-ng-bind="field.description"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>