<section data-ng-controller="QueriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="query.name"></h1>
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<p class="list-group-item-text">Job Type:<span data-ng-bind="query.job.name"></span>
			</p>
			<p class="list-group-item-text" data-ng-repeat="fields in query.job.fields"><strong><span data-ng-bind="fields.name"></span>: </strong><span data-ng-bind="query.fields[$index]"></span>
			</p>
			<p data-ng-if="query.status!='success'" class="list-group-item-text alert alert-info">Status:<span data-ng-bind="query.status"></p>
			<p data-ng-if="query.status='success'" class="list-group-item-text alert alert-success">Status:<span data-ng-bind="query.status"></span>
			</p>
		</div>
		<div data-ng-if="query.status='success'" class="list-group-item">
			<form>
				<fieldset>
					<div class="form-group">
						<label class="control-label" for="selectMyGraph">Choose a Graph</label>
						<select name="selectMyGraph" id="selectMyGraph" data-ng-change="graphChange()" data-ng-model="myGraphType" data-ng-options="graph.name for graph in query.job.graphs"></select>
					</div>
				</fieldset>
			</form>
		</div>
		<div data-ng-if="myGraph" class="list-group-item"><span data-ng-bind="myGraph.name"></span></div>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles[1] == 'admin'">
		<a class="btn btn-primary" href="/#!/queries/{{query._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="query.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="query.user.displayName"></span>
		</em>
	</small>
</section>